.find-harvest-wrapper {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.find-harvest-btn {
  --primary: #ff5569;
  --neutral-1: #f7f8f7;
  --neutral-2: #e7e7e7;
  --radius: 28px;

  cursor: pointer;
  border-radius: var(--radius);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border: none;
  box-shadow: 0 0.5px 0.5px 1px rgba(255, 255, 255, 0.2),
    0 10px 20px rgba(0, 0, 0, 0.15), 0 4px 5px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease;
  min-width: 175px;
  padding: 0 22px;
  height: 48px;
  font-family: "Galano Grotesque", Poppins, Montserrat, system-ui, sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 600;
  color: #262626;
  background: transparent;
  outline: none;
  user-select: none;
}

.find-harvest-btn:hover {
  transform: scale(1.02);
  box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.3),
    0 15px 30px rgba(0, 0, 0, 0.2), 0 10px 3px -3px rgba(0, 0, 0, 0.04);
}

.find-harvest-btn:active {
  transform: scale(1);
  box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.3),
    0 10px 3px -3px rgba(0, 0, 0, 0.2);
}

.find-harvest-btn:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: var(--radius);
  border: 2px solid transparent;
  background: linear-gradient(var(--neutral-1), var(--neutral-2)) padding-box,
    linear-gradient(to bottom, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.35))
      border-box;
  z-index: 0;
  transition: all 0.4s ease;
}

.find-harvest-btn:hover::after {
  transform: scale(1.03, 1.06);
  box-shadow: inset 0 -1px 3px 0 rgba(255, 255, 255, 1);
}

.find-harvest-btn::before {
  content: "";
  inset: 4px 4px 4px 4px;
  position: absolute;
  background: linear-gradient(to top, var(--neutral-1), var(--neutral-2));
  border-radius: calc(var(--radius) - 2px);
  filter: blur(0.5px);
  z-index: 2;
}

.find-harvest-btn .state p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.find-harvest-btn .state .icon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: scale(1.25);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
}

.find-harvest-btn .state .icon svg {
  overflow: visible;
}

/* Outline */
.find-harvest-btn .outline {
  position: absolute;
  border-radius: inherit;
  overflow: hidden;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.4s ease;
  inset: -2px -3.5px;
}

.find-harvest-btn .outline::before {
  content: "";
  position: absolute;
  inset: -100%;
  background: conic-gradient(
    from 180deg,
    transparent 60%,
    white 80%,
    transparent 100%
  );
  animation: fh-spin 2s linear infinite;
  animation-play-state: paused;
}

@keyframes fh-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.find-harvest-btn:hover .outline {
  opacity: 1;
}

.find-harvest-btn:hover .outline::before {
  animation-play-state: running;
}

/* Letters */
.find-harvest-btn .state p span {
  display: block;
  opacity: 0;
  animation: fh-slideDown 0.8s ease forwards calc(var(--i) * 0.03s);
}

.find-harvest-btn:hover p span {
  opacity: 1;
  animation: fh-wave 0.5s ease forwards calc(var(--i) * 0.02s);
}

.find-harvest-btn:focus .state--default p span,
.find-harvest-btn.is-active .state--default p span {
  opacity: 1;
  animation: fh-disappear 0.6s ease forwards calc(var(--i) * 0.03s);
}

@keyframes fh-wave {
  30% {
    opacity: 1;
    transform: translateY(4px) translateX(0) rotate(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-3px) translateX(0) rotate(0);
    color: var(--primary);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(0) rotate(0);
  }
}

@keyframes fh-slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px) translateX(5px) rotate(-90deg);
    color: var(--primary);
    filter: blur(5px);
  }
  30% {
    opacity: 1;
    transform: translateY(4px) translateX(0) rotate(0);
    filter: blur(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-3px) translateX(0) rotate(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(0) rotate(0);
  }
}

@keyframes fh-disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(5px) translateY(20px);
    color: var(--primary);
    filter: blur(5px);
  }
}

/* Plane */
.find-harvest-btn .state--default .icon svg {
  animation: fh-land 0.6s ease forwards;
}

.find-harvest-btn:hover .state--default .icon {
  transform: rotate(45deg) scale(1.25);
}

.find-harvest-btn:focus .state--default svg,
.find-harvest-btn.is-active .state--default svg {
  animation: fh-takeOff 0.8s linear forwards;
}

.find-harvest-btn:focus .state--default .icon,
.find-harvest-btn.is-active .state--default .icon {
  transform: rotate(0) scale(1.25);
}

@keyframes fh-takeOff {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
    transform: translateX(70px) rotate(45deg) scale(2);
  }
  100% {
    opacity: 0;
    transform: translateX(160px) rotate(45deg) scale(0);
  }
}

@keyframes fh-land {
  0% {
    transform: translateX(-60px) translateY(30px) rotate(-50deg) scale(2);
    opacity: 0;
    filter: blur(3px);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(0);
    opacity: 1;
    filter: blur(0);
  }
}

/* Contrail */
.find-harvest-btn .state--default .icon:before {
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  width: 0;
  left: -5px;
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.4));
}

.find-harvest-btn:focus .state--default .icon:before,
.find-harvest-btn.is-active .state--default .icon:before {
  animation: fh-contrail 0.8s linear forwards;
}

@keyframes fh-contrail {
  0% {
    width: 0;
    opacity: 1;
  }
  8% {
    width: 15px;
  }
  60% {
    opacity: 0.7;
    width: 80px;
  }
  100% {
    opacity: 0;
    width: 160px;
  }
}

/* States */
.find-harvest-btn .state {
  padding-left: 29px;
  z-index: 3;
  display: flex;
  position: relative;
}

.find-harvest-btn .state--default span:nth-child(4) {
  margin-right: 6px;
}

.find-harvest-btn .state--sent {
  display: none;
}

.find-harvest-btn .state--sent svg {
  transform: scale(1.25);
  margin-right: 8px;
}

.find-harvest-btn:focus .state--default,
.find-harvest-btn.is-active .state--default {
  position: absolute;
}

.find-harvest-btn:focus .state--sent,
.find-harvest-btn.is-active .state--sent {
  display: flex;
}

.find-harvest-btn:focus .state--sent span,
.find-harvest-btn.is-active .state--sent span {
  opacity: 0;
  animation: fh-slideDown 0.8s ease forwards calc(var(--i) * 0.15s);
}

.find-harvest-btn:focus .state--sent .icon svg,
.find-harvest-btn.is-active .state--sent .icon svg {
  opacity: 0;
  animation: fh-appear 1.2s ease forwards 0.8s;
}

@keyframes fh-appear {
  0% {
    opacity: 0;
    transform: scale(4) rotate(-40deg);
    color: var(--primary);
    filter: blur(4px);
  }
  30% {
    opacity: 1;
    transform: scale(0.6);
    filter: blur(1px);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
    filter: blur(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    color: var(--primary);
  }
}
